@{
    ViewBag.Title = "Steam Profile Achievements";
}

<p>
    Lookup achievement totals for a steam account. No data is cached so large accounts can take awhile to load.
</p>

<div>
<p>Search using 64bit SteamId. Example: 76561198019745749.
    <A HREF="http://steamidconverter.com/">Get SteamID</A>
</p>
<p>
    
</p>
</div>


@using(Ajax.BeginForm("GetProfile","Home", new AjaxOptions{
    HttpMethod = "GET",
    UpdateTargetId = "display_profile",
    InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace,
    LoadingElementId = "progress"
}))
{
    <input type="text" name="q"></input>
    <input type="submit" value="GetProfile" />
}
<div id="display_profile">
</div>

<div id="progress">
    <img src=@Url.Content("~/Content/images/ajax-loader.gif") alt="loading time"/>
</div>